body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #eaf3ff, #ffffff);
}

.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 60, 130, 0.15);
}

.auth-title {
  color: #0b5ed7;
  text-align: center;
  margin-bottom: 8px;
}

.auth-subtitle {
  text-align: center;
  color: #6c757d;
  margin-bottom: 28px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #1f2937;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d5e3f5;
  border-radius: 10px;
  font-size: 14px;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.auth-button:hover {
  background: #084db3;
}

.auth-footer {
  margin-top: 20px;
  text-align: center;
  color: #6c757d;
}

.auth-link {
  color: #0b5ed7;
  font-weight: bold;
  cursor: pointer;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #d5e3f5;
  border-radius: 10px;
  font-size: 14px;
  background: white;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
